@font-face { font-family: GlitchGoblin; src: url('../fonts/GlitchGoblin-2O87v.ttf'); } 
@font-face { font-family: Coolvetica; src: url('../fonts/coolvetica.otf'); } 
@font-face { font-family: Cedge; src: url('../fonts/cedge1.ttf'); } 
@font-face { font-family: goodtimes; src: url('../fonts/goodtimes.otf'); } 


html{
    background-color: black;
    background-image: url(../images/tumblr_6ccaa667b215a0f3498bf6b1f7f3ed35_96ba3925_640.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(255, 5, 159);
    text-align: left;
    font-family: goodtimes;
}
.logo img{
    float: left;
    width: 500px;
    height: auto;
}

header{
    background-color:#070622;
    font-family: Coolvetica;
    text-align: center;
    font-size: 35px;   
    border:3px solid rgb(255, 5, 159);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul{
 padding:0;
 color: white;
 font-family: Coolvetica;
 font-size: 35px;
 }

nav li {
 display: inline;
 margin-left: 150px;
}

nav li img{
    height: auto;
    width: 100px;
    position: absolute;
    top:40px;
    right:90px;
}

nav li img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

a:link{
    color:white;
}

a:visited{
    color:rgb(255, 37, 190);
}
a:hover{
    color:#00d9ff; 
    text-decoration: underline;
}

.titre h1{
    font-family: goodtimes;
    color: rgb(255, 5, 159);
    text-align:center;
    font-family: goodtimes;
    font-size: 50px;
    background-color: #070622;
    border:3px solid rgb(255, 5, 159);

}

.card-container{
    margin: 100px 80px;
    box-sizing: border-box;
    display:flex; /* A PRECISER SUR LE PDF */
    align-items: center ;
    
}
.card{
    width: 400px;
    height: 500px;
    background-color: black;
    float: left;
    color: white;
    font-family: Coolvetica;
    margin: 0 10px;
    text-align: center;
    border: 3px solid rgb(255, 5, 159);
    
}
.card h1 {
    text-align: center;
}

#card1 img{
    width: 340px;
    height: 340px;
    border:3px solid rgb(255, 255, 255);
}
#card1 p{
    font-size: 30px;
}

#card2 img {
    width: 340px;
    height:340px;
    border:3px solid rgb(255, 255, 255);
}
#card2 p{
    font-size: 30px;
}
#card3 img {
    width:340px;
    height: 340px;
    border:3px solid rgb(255, 255, 255);

}
#card3 p{
    font-size: 30px;
}

#card4 img {
    width:340px;
    height: 340px;
    border:3px solid rgb(255, 255, 255); 
}
#card4 p{
    font-size: 30px;
}

#card5 img {
    width:340px;
    height: 340px;
    border:3px solid rgb(255, 255, 255); 
}
#card5 p{
    font-size: 30px;
}
.card img:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
footer{
    background-color:#070622;
    border:3px solid rgb(255, 5, 159);  
    margin-top: 100px;
    font-family: Coolvetica;
    color:white;
    font-size: 25px;
    height: 200px;
}

.liens img,.liens img:hover{
    height: auto;
    width: 50px;
    margin-left: 20px;
}
.liens img:hover{ /* à préciser */
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
footer p{
    text-align: right;
    font-size: 35px;
    margin-right: 40px;
    top:40px;
}


footer p a:link{
    color:red
}
footer p a:hover {
color:white
}
footer p a:visited{
    color:rgb(0, 247, 255);
}
